

<div class="container">

  <% if !user_signed_in? %>
  <div class="center jumbotron">
    <div class="container">

        <div class="row">
          <div class="col-md-8">
              <center>
              <font size="23" color="#C80000"><strong>Body Rock Breaking</strong></font>
              <font size color="#505050">by Jeromeskee</font>
              </center>

          <iframe src="//player.vimeo.com/video/76752860?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <center><strong>Online B-boy/Breakdance Tutorials</strong></center>
          <strong>RECEIVE POWERFUL COACHING TIPS</strong>
            <div id="arrow-list">
              <ul>
              <li>&#8220;B.S.T,&#8221; an unorthodox training method that will increase your stamina twice as fast&#8230; no running required.</li>
              <li>&#8220;The Groove,&#8221; two dance exercises that will improve your rhythm and flow&#8230;for  beginners and experienced dancers.</li>
              <li>Watch a short interview with a dance icon and legend. Find out what we talked about and discover a whole new approach on musicality.</li>
              </ul>
            </div>

          </div>

          <div class="col-md-4">
            <script type="text/javascript" src="http://forms.aweber.com/form/36/657753136.js"></script>
            <br>
            <p><strong>Follow Us for Video Updates!</strong></p>
            <%= link_to image_tag("https://s3.amazonaws.com/jeromeskeecoaching/icons/Facebook-48.png"), 'https://www.facebook.com/jeromeskee?fref=ts' %>
            <%= link_to image_tag("https://s3.amazonaws.com/jeromeskeecoaching/icons/Twitter+Bird-48.png"), 'https://www.facebook.com/jeromeskee?fref=ts' %>
            <%= link_to image_tag("https://s3.amazonaws.com/jeromeskeecoaching/icons/YouTube1-48.png"), 'https://www.facebook.com/jeromeskee?fref=ts' %>

          </div>
        </div>
    </div>
  </div>
</div>


 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Breakfit Challenge</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Windmills SF</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Extras</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>


      <% else %>

        <%= render 'layouts/nav/mainhomenav' %>

      <% end %>


      <hr>
</div> <!-- /container -->