@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

body { padding-top: 70px; }

.footer{
    margin-top: 50px;
    color: $gray;
    a{
        color: $gray;
    }
}
