@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss";

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

body { padding-top: 40px; }

.footer{
    margin-top: 40px;
    color: $gray;
    a{
        color: $gray;
    }
}

#arrow-list li {
	list-style-image:url('https://s3.amazonaws.com/jeromeskeecoaching/Arrowhead-Right-01-24.png');
	font-size: 20px;
	padding-top: 10px;
}