<%= form_for @category do |f| %>
	<div>
      <%= f.label :name %>
      <%= f.text_field :name %>



      <select class="form-control">

        <option>1</option>
      </select>
	</div>


	<div>
			<%= f.submit %>
	</div>
<% end %>