

<h1>Admin Control Panel</h1>






<h3>Category Management:</h3>

<%= render 'categories/indexview' %>


<h3>SubCategory Management:</h3>
<%= render 'subcategories/indexview' %>


<h3>Video Management:</h3>

<%= render 'videos/indexview' %>
