
<div class="container">
	<div class="footer">
	  <small>
	    Copyright © Body Rock Breaking LLC 2013
	  </small>


	         <strong>Follow Us for Video Updates!</strong>
            <%= link_to image_tag("https://s3.amazonaws.com/jeromeskeecoaching/icons/Facebook-48.png"), 'https://www.facebook.com/jeromeskee?fref=ts' %>
            <%= link_to image_tag("https://s3.amazonaws.com/jeromeskeecoaching/icons/Twitter+Bird-48.png"), 'https://www.facebook.com/jeromeskee?fref=ts' %>
            <%= link_to image_tag("https://s3.amazonaws.com/jeromeskeecoaching/icons/YouTube1-48.png"), 'https://www.facebook.com/jeromeskee?fref=ts' %>
</div>
	</div>
          
